@using CatForum.Data
@using Microsoft.AspNetCore.Identity

@model CatForum.Models.Discussion

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Edit";
}

@if (Model.ApplicationUserId == UserManager.GetUserId(User))
{
    <h1>Edit Discussion</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="DiscussionId" />
                <input type="hidden" asp-for="ApplicationUserId" />
                <input type="hidden" asp-for="ImageFilename" />          
                <input type="hidden" asp-for="CreateDate" />

                <div class="form-group mb-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" style="height: 200px;" ></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="d-flex align-items-center mb-3">
                    <div class="me-3">Current image:</div>
                    @if(Model.ImageFilename != null){
                        <img src="/photos/@Model.ImageFilename" class="profile-details-thumb"/>
                    }else{
                        <img src="/photos/no_img_found.jpeg" alt="thumbnail for @Model.DiscussionId" class="mb-3 profile-details-thumb" />
                    }
                </div>
             
                <div class="mb-3">
                    <label class="form-label">Change photo</label> 
                     <input type="file" asp-for="ImageFile" class="form-control" /> 
                    <span asp-validation-for="ImageFile" class="text-danger"></span> 
                 </div>
              
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}else{
    <div>No access</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
